<!--@subject New vimesso purchasing @-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->

                
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="10" border="0" width="650">
                    <thead style="font-size: 12px;">
                        <tr>
                            <th valign="top"><a href="http://www.vimesso.com"><img src="{{skin url="images/logo.png" _area='frontend'}}" alt="vimesso"  style="margin-bottom:10px;" border="0"/></a>Vimesso.com the gift message in video</th>
                        </tr>
                    </thead>
                    <tfoot  style="font-size: 10px;">
                        <tr>
                            <td>For any problem, please contact us via our <a href="http://www.vimesso.com/general/contact">form</a></td>
                        </tr>
                        <tr>
                            <td><a href="feedback@vimesso.fr">Any comments? Any ideas? You can write to us at :feedback@vimesso.fr</a></td>
                        </tr>
                        <tr>
                            <td>vimesso.fr allows you to upload a video message or an image to express your creativity, your feelings or your emotions, with the guarantee that the message will be read at the opening of your gift recipient.</td>
                        </tr>
                        <tr>
                            <td>Legal mention | Contact | Vimesso video</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td valign="top">

                            <p>Thanks for your purchase, you have bought a vimesso, please create your personal message here :</p>

                            <p>to create your vimesso open the following link :  <a href="{{var vimesso_creation_link}}" title="your vimesso">personal vimesso</a></p>

                            <p>Best Regards.</p>
                            <p><img src="{{var vimesso_cqr}}" /></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>