/* #vimesso-more-details {background: #F6F1EB; border: 1px solid #E9E4DE; border-width: 1px 0; padding: 22px 24px 22px 30px;} */

.vimesso-container {
padding: 20px 20px 20px 150px;
font-size: 12px;
color: #454545;
background: url('http://www.vimesso.com/images/logo-small.jpg') 5px 17px no-repeat;
border: 1px solid #CCC;
margin: 0 20px;
}

.gift-messages-vimesso .tilte-vimesso {font-size: 12px;
line-height: 1.25;
text-align: left;
text-transform: uppercase;}

.gift-messages-vimesso .text-vimesso {text-transform: uppercase;}